.user-item {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #cfcfcf;

  & + & {
    border-top: 0;
  }

  &__col {
    padding: 5px 15px;
    font-weight: 200;

    &:first-child {
      font-weight: 700;
    }

    & + & {
      border-left: 1px solid #cfcfcf;
    }
  }
}
